/* Import custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Tailwind CSS Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
}

/* Global Styles */
body {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  /* Hide scrollbar */
}

/* Styling for header and footer */
header {
  min-height: 80px;
}

footer {
  height: 40px;
}

/* Styling for hero section */
.hero-landing {
  height: calc(100vh - 120px);
}

@media (max-width: 1279px) {
  .hero-course {
    height: auto;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
