/* Import custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Tailwind CSS Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;


/*! -------------------- Global Styles -------------------- */

body {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  @apply flex gap-5 py-3 justify-between px-5 lg:px-20 min-h-20 z-50 bg-transparent w-full;
  transition: background-color 0.3s, backdrop-filter 0.3s, padding 0.3s, min-height 0.3s;
}

header.scrolled {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  padding: 0px 15px;
}

header>img {
  @apply w-32 vsm:w-36;
}

.footer {
  @apply flex flex-wrap justify-center vsm:justify-end items-center text-xs vsm:text-sm sm:text-base gap-2 sm:gap-5 px-2 vsm:px-5 lg:px-14 transition-all h-16
}

.footer-v2 {
  @apply flex flex-col sm:flex-row justify-center sm:justify-between items-center gap-2 px-2 vsm:px-5 lg:px-14 transition-all pb-2 pt-7 sm:py-5 my-auto
}

.footer-v2>div {
  @apply flex flex-wrap justify-center vsm:justify-end items-center text-xs vsm:text-sm sm:text-base gap-2 sm:gap-5 relative mt-auto
}

/* Responsive Header For Mobile Screen */
#burgerMenu {
  @apply block md:hidden focus:outline-none
}

#navLinks {
  @apply hidden md:flex justify-center items-center gap-4 lg:gap-9
}

#navLinks a:not(:nth-child(3)) {
  @apply hover:underline underline-offset-4 decoration-2 hover:decoration-4 transition-all
}

#navLinks a:nth-child(3), #sideMenu a:nth-child(3) {
  @apply bg-[#e7dfd8] hover:bg-fourthlyColor text-center p-2 rounded-full transition-all;
  font-family: "Fira Sans", serif;
}

#mobileNav {
  @apply fixed inset-0 bg-black bg-opacity-50 z-50
}

#mobileNav>div {
  @apply absolute right-0 bg-white/95 text-center shadow-lg w-4/5 vsm:w-1/2 h-full p-5 transition-transform duration-300
}

#mobileNav a:not(:nth-child(3)) {
  @apply hover:font-medium transition-all
}

#mobileNav>div>button {
  @apply flex justify-end w-full mb-5 focus:outline-none
}

#mobileNav>div>nav {
  @apply flex flex-col gap-5
}

#mobileNav>nav>a:not(:nth-child(3)) {
  @apply text-lg font-medium hover:bg-[#e7dfd8]/70 py-2 rounded-full
}

#bg-video {
  @apply absolute top-0 left-0 w-full h-full object-cover -z-10;
}

/* Footer Links Animations */
#animtaed-text a {
  background-image: linear-gradient(to right,
      #000000,
      #000000 50%,
      #000000c4 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

#animtaed-text a:before {
  content: '';
  background: #0000009c;
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

#animtaed-text a:hover {
  background-position: 0;
}

#animtaed-text a.active {
  background-position: 0;
  background-image: linear-gradient(to right,
      #000000,
      #000000 50%,
      #000 50%);
  font-weight: 600;
}

#animtaed-text a:hover::before {
  width: 100%;
}

/* Hide default scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

/* Smooth scrolling for Splide list */
.splide__list {
  transition: transform 0.5s ease;
}

/* Smooth transition for Splide slides */
.splide__slide {
  transition: transform 0.8s ease-in-out;
}

/* Custom STUDIO Logo */
.custom-logo {
  @apply font-bold uppercase relative h-[50px]
}

.custom-logo img {
  @apply absolute top-0 left-0 -rotate-12
}

/*! -------------------- Landing Page -------------------- */

#hero-landing {
  @apply text-center relative mx-2 tiny:mx-5 lg:mx-14;
  height: calc(100vh - 144px);
}

/* Responsive hero section on screens smaller than 340px */
@media (max-width: 340px) {
  #hero-landing {
    height: auto;
  }
}

#hero-landing h1 {
  @apply md:text-left text-xl tiny:text-2xl sm:text-3xl md:text-4xl xl:text-5xl xl:leading-normal font-semibold
}

li>article {
  @apply md:text-left m-5 md:max-w-[450px] 2xl:max-w-[600px] text-black
}

li>article>p {
  @apply text-center p-4 rounded-3xl w-full my-10 shadow
}

li>article>h3 {
  @apply vsm:text-xl font-semibold
}

li>article>h4 {
  @apply vsm:text-xl font-semibold my-3
}

li>article>h5 {
  @apply vsm:text-xl font-normal
}

li>article>button {
  @apply relative flex justify-center mx-auto mt-10 items-center gap-2 border-[6px] bg-thirdlyColor w-full max-w-72 vsm:max-w-56 py-3 vsm:py-1 rounded-full shadow-inner transition-all
}

li>article>button img {
  @apply absolute right-0
}



/*! -------------------- Für Kursanbietende Page -------------------- */

/* HeroSection */
#hero-course {
  @apply relative text-center shadow-inner pt-20;
}

#hero-course>div>h1 {
  @apply text-center text-xl sm:text-2xl md:text-3xl lg:text-4xl 2xl:text-5xl font-semibold m-2 md:m-8 lg:m-12
}

#hero-course>div>h2 {
  @apply text-base sm:text-xl font-semibold my-3
}

#hero-course>div li {
  @apply text-base sm:text-xl font-semibold
}

/* Marquee Effect */
.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  padding: 6px;
  cursor: default;
  text-transform: uppercase;
}

.marquee-content {
  display: flex;
  width: 200%;
  animation: marquee 20s linear infinite;
}

.marquee-content li {
  flex: 0 0 auto;
  width: 400px;
  /* Responsive width */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  color: #ddf487;
}

/* Pause animation on hover */
.marquee:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Media Queries for Different Screen Sizes */
@media (max-width: 1200px) {
  .marquee-content li {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .marquee-content li {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .marquee-content li {
    width: 180px;
  }
}

/* WARUM Kurserio Section */
#warum {
  @apply py-7 md:p-10
}

#warum>div {
  @apply flex justify-center items-center text-xl tiny:text-2xl sm:text-4xl font-semibold gap-2 tiny:gap-5 mb-10
}

#warum>article {
  @apply flex flex-col md:flex-row gap-5 lg:gap-10 justify-between lg:justify-center items-center m-5
}

#warum>article>div {
  @apply flex flex-col justify-center items-center text-left gap-2 max-w-[430px] md:max-w-[400px]
}

#warum>article h1 {
  @apply text-xl md:text-2xl font-semibold w-full
}

#warum>article p {
  @apply sm:text-lg md:text-xl md:leading-relaxed
}

#warum>article button {
  @apply relative flex justify-center mx-auto items-center gap-2 border-4 bg-thirdlyColor border-primaryColor hover:bg-primaryColor/40 w-full max-w-44 vsm:max-w-52 mt-2 py-2 text-sm vsm:text-base rounded-full font-semibold transition-all
}

#warum>article button>img {
  @apply absolute right-0
}

#warum>article>img {
  @apply vsm:max-w-[430px]
}

/* Benefits Icons Section */
#benefits {
  @apply flex flex-wrap justify-center items-start text-center gap-4 sm:gap-6 md:text-lg overflow-hidden bg-[#f4f4f4] p-5
}

#benefits>div {
  @apply flex flex-col justify-start items-center gap-3 m-2 w-32
}

#benefits>div>img {
  @apply w-14 vsm:w-16
}

/* Features Category Section */
#features {
  @apply py-5 p-2 vsm:p-5 md:p-10
}

#features>h1 {
  @apply text-lg vsm:text-xl sm:text-2xl md:text-3xl text-center font-semibold mt-3
}

#features>div>nav {
  @apply flex w-full flex-wrap text-center gap-5 lg:gap-10 p-3 justify-center items-center text-[#1a1e30]
}

#features>div>nav>a {
  @apply cursor-pointer hover:underline decoration-primaryColor hover:decoration-2 underline-offset-4 active:scale-105 transition-all
}

#features>div>article {
  @apply flex-col-reverse xl:flex-row w-full justify-between rounded-xl border-4 border-white overflow-hidden
}

#features>div>article div {
  @apply py-5 p-2 vsm:p-5
}

#features>div>article h2 {
  @apply text-lg p-0 font-semibold text-left
}

#features>div>article h3 {
  @apply text-3xl sm:text-4xl font-semibold my-2
}

#features>div>article p {
  @apply vsm:text-lg xl:max-w-[600px]
}

#features>div>article ul {
  @apply list-disc p-5
}

#features>div>article>img {
  @apply lg:max-w-[550px] mx-auto xl:mx-0 object-fill
}

/* Faire Preise Section */
#fair {
  @apply p-5 lg:p-10 bg-[#F5F5F5]
}

#fair>h1 {
  @apply text-xl md:text-3xl font-semibold text-center
}

#fair>h2 {
  @apply text-xl md:text-2xl font-medium text-center my-5 md:my-10
}

#fair>div {
  @apply flex flex-wrap justify-center gap-5 sm:gap-10 items-center
}

#fair>div>span {
  @apply flex justify-center w-full vsm:w-fit items-center gap-1 md:gap-2
}

#fair>div>span>img {
  @apply w-8 md:w-auto
}

#fair>div>span>p {
  @apply relative bg-fourthlyColor text-primaryColor font-semibold md:text-xl py-2 text-center w-full vsm:w-48 md:w-72 rounded-full shadow
}

#fair>div>span>p>img {
  @apply absolute top-1 md:-top-1 -right-4
}

/* Subscription Plans Section */
#splide-subscription {
  @apply my-5 mx-auto max-w-[1056px] px-4 vsm:px-14
}

#splide-subscription li {
  @apply max-w-80
}

#splide-subscription li>div {
  @apply relative bg-[#e7dfd8]/50 w-auto rounded-3xl p-5 h-full flex flex-col shadow-inner
}

#splide-subscription li>div>img {
  @apply absolute top-5 right-3
}

#splide-subscription li>div>h1 {
  @apply font-bold text-2xl mb-4
}

#splide-subscription li>div>h2 {
  @apply font-semibold text-2xl p-0 text-left mb-3
}

#splide-subscription li>div>p {
  @apply text-lg my-5
}

#splide-subscription li>div>div {
  @apply flex flex-col gap-3 mb-5 tiny:text-lg
}

#splide-subscription li span {
  @apply flex gap-1
}

#splide-subscription li>div>button {
  @apply mt-auto flex justify-between items-center p-1 w-full text-lg rounded-full
}

#splide-subscription li>div>button>p {
  @apply ml-5
}

/* Still have questions Section */
#questions h1,
h2 {
  @apply p-5 text-xl md:text-2xl text-center
}

#questions>button {
  @apply relative flex text-center mx-auto my-3 items-center gap-2 border-4 bg-thirdlyColor border-primaryColor hover:bg-primaryColor/40 w-full max-w-72 py-1 sm:py-3 rounded-full
}

#questions>button>img {
  @apply absolute right-1
}



/*! Kontakt Page  */

#contact {
  @apply mt-36 m-5 
}

#contact>p {
  @apply text-xl md:text-2xl font-semibold w-full text-center
}

#contact>div {
  @apply flex flex-col lg:flex-row justify-center items-center gap-5 lg:gap-10 sm:w-3/4 mx-auto
}

/* side icon section */
#contact>div>aside {
  @apply flex flex-wrap sm:flex-nowrap lg:flex-col justify-center gap-9 lg:max-w-80 text-center lg:text-left mt-10 lg:mb-14
}

#contact>div>aside div {
  @apply flex flex-col lg:flex-row gap-3 items-center
}

#contact>div>aside img {
  @apply w-16
}

#contact>div>div {
  @apply flex flex-col justify-center items-center sm:p-8 w-full
}

#contact>div>div h2 {
  @apply text-sm text-black/75 p-2 font-semibold text-right my-3 sm:my-0
}

/* form section */
#contact-form {
  @apply flex flex-col justify-center items-center gap-4 w-full
}

#contact-form div {
  @apply w-full
}

#contact-form label {
  @apply block text-sm text-black/75 uppercase font-bold
}

#contact-form input {
  @apply mt-2 block w-full px-3 py-2 border-2 border-gray-300 shadow-sm text-black/80 focus:outline-none focus:border-primaryColor font-medium h-12
}

#contact-form p {
  @apply font-semibold text-black/75 text-center text-sm vsm:text-base
}

#contact-form button {
  @apply w-56 bg-primaryColor py-4 rounded-full hover:bg-primaryColor/55 my-2
}

* {
  /* outline: 1px solid red; */
}